fastapi
uvicorn[standard]
openai
speechrecognition
pyttsx3
python-dotenv
pyautogui
psutil
websockets
sounddevice
faster-whisper
winrt-Windows.UI.Notifications
winrt-Windows.UI.Notifications.Management
winrt-Windows.Data.Xml.Dom
winrt-Windows.Devices.Geolocation
winrt-Windows.Storage
winrt-Windows.System
winrt-Windows.ApplicationModel.DataTransfer
pyperclip
requests
spotipy